{% extends 'base.html.twig' %}

{% block body %}

	<h1>{{ event.orgEventName }}</h1>
	<ul>
		<li>Type: {{ event.orgEventType }}</li>
		<li>Capacity: {{ event.capacity }}</li>
		<li>Date: {{ event.date|date("m/d/Y") }}</li>
		<li>Signup Start: {{ event.signupStart|date("m/d/Y") }}</li>
		<li>Signup End: {{ event.signupEnd|date("m/d/Y") }}</li>
		<li>Event Description: {{ event.orgEventDescription }}</li>
	</ul>

	<table>
		<tr>
			<th>Name</th>
			<th># Seats</th>
			<th>Selection Status</th>
			<th>Selection Status Reason</th>
		</tr>
		{% for party in event.Parties %}
			<tr>
				<td>{{ party.Registrant.fullName }}</td>
				<td>{{ party.numSeats }}</td>
				<td>{{ party.selectionStatus }}</td>
				<td>{{ party.selectionStatusReason }}</td>
			</tr>
		{% endfor %}
	</table>

	<a href="{{ path('event_edit', {'id': event.id}) }}">Edit</a>

{% endblock %}