{% extends 'base.html.twig' %}

{% block body %}

	<h1>{{ event.orgEventName }}</h1>
	<ul>
		<li>Type: {{ event.orgEventType }}</li>
		<li>Capacity: {{ event.capacity }}</li>
		<li>Date: {{ event.date|date("m/d/Y") }}</li>
		<li>Signup Start: {{ event.signupStart|date("m/d/Y") }}</li>
		<li>Signup End: {{ event.signupEnd|date("m/d/Y") }}</li>
		<li>Event Description: {{ event.orgEventDescription }}</li>
	</ul>

	{{ form_start(form) }}
	<table>
		<tr>
			<th>Name</th>
			<th># Seats</th>
			<th>Selection Status</th>
			<th>Selection Status Reason</th>
			<th>18+</th>
			<th>Can Swim?</th>
			<th>Has Boating Experience</th>
			<th>Has CPR Certification</th>
		</tr>
		{% for party in form.parties %}
			{% if party.vars.value.selectionStatus == "Approved" %}
				<tr class="bg-success">
			{% elseif party.vars.value.selectionStatus == "Denied" %}
				<tr class="bg-danger">
			{% elseif party.vars.value.selectionStatus == "Emailed" %}
				<tr class="bg-info">
			{% else %}
				<tr>
			{% endif %}
			    <td>{{ party.vars.data.Registrant.fullName }}</td>
			    <td>{{ party.vars.value.numSeats }}</td>
			{% if party.vars.data.selectionStatus == "Emailed" %}
			//	<td>{{ form_row(party.selectionStatus, {'disabled': 'disabled'}) }}</td>
			{% else %}
				<td>{{ form_row(party.selectionStatus) }}</td>
			{% endif %}
			    <td>{{ party.vars.value.selectionStatusReason }}</td>
				<td>{{ party.vars.data.Registrant.over18 ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasSwimExperience ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasBoatExperience ? "Yes" : "No"}}</td>
				<td>{{ party.vars.data.Registrant.hasCprCertification ? "Yes" : "No"}}</td>
			</tr>
		{% endfor %}
	</table>
	{{ form_end(form) }}

	<a href="{{ path('event_edit', {'id': event.id}) }}">Edit</a>

{% endblock %}