<h3>Trip Request From Successfully completed</h3>
<p>
Hello {{name}},

You have successfully registered to participate in {{event}} on {{date}} at {{time}}.
You will be notified again at this email address if you are selected for participation.
For now, if you would like to update your registration information, please visit <a href="{{personalLink}}">this page</a>.

Thanks,
The LICCB Team
</p>