<h3>You've been selected!</h3>
<p>Hello {{participantName}},</p>

<p>
You have been selected to participate in {{eventName}} on {{date}} at {{time}}.
If you would like to cancel your registration, please visit <a href="{{personalLink}}">this page</a>.
</p>

<p>
Thanks,<br>
The LICCB Team
</p>