<h1>You've been selected!</h1>
<p>Hello {{name}},</p>

<p>
You have been selected to participate in {{event.orgEventName}} on {{event.date|date("m/d/Y"|false)}} at {{event.date|date("H:i:s")}}.
If you would like to cancel your registration, please visit <a href="{{personalLink}}">this page</a>.
</p>

<p>
Thanks,<br>
The LICCB Team
</p>