<h1>Trip Request From Successfully completed</h1>
<p>
Hello {{name}},

You have successfully registered to participate in {{event.orgEventName}} on {{event.date|date("m/d/Y"|false)}} at {{event.date|date("H:i:s")}}.
You will be notified again at this email address if you are selected for participation.
For now, if you would like to update your registration information, please visit <a href="{{personalLink}}">this page</a>.

Thanks,
The LICCB Team
</p>